<nav class="home-navigation">
    <ul>
      <li>
        <a href="#home-work">Portfolio</a>
      </li><li>
        <a href="{{ site.baseurl_blog }}">Blog</a>
      </li><li>
        <a href="https://open.spotify.com/artist/{{ site.spotify }}">Spotify</a>
      </li><li>
        <a href="https://youtube.com/@{{ site.youtube }}">YouTube</a>
      </li><li class="home-navigation-twitter">
        <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
      </li><li class="home-navigation-resume">
        <a href="https://www.instagram.com/{{site.Instagram}}">Instagram</a>
      </li><li>
        <a href="mailto:{{ site.email }}">Contact</a>
      </li>
    </ul>
  </nav>