<div class="home-intro">
    <div class="home-intro-bio">
      <div class="home-intro-bio-desc">
        <img src="assets/images/Jorge_Serrano.png" width="300" height="300" />
        <h1>Jorge Serrano</h1>
        <h2>Music Composer</h2>
        <!-- <h3>New Age · Instrumental</h3> -->
        <span class="tag">New Age</span>&nbsp;<span class="tag">Instrumental</span>
        <br />
  
        <a target="_blank" href="https://open.spotify.com/artist/{{ site.spotify }}"><i class="fab fa-spotify"></i></a>
        <a target="_blank" href="https://youtube.com/@{{ site.youtube }}"><i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://music.apple.com/es/artist/{{ site.apple_music }}"><i class="fab fa-apple"></i></a>
        <a target="_blank" href="https://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>