<section class="home-work-grid">
	<!-- Project Azure Pipelines -->
	<div class="home-work-grid__project">
		<a name="home-work" class="home-work-grid__anchor" id="home-work"></a>
		<div class="home-work-grid__project-description">
			<h2><a id="project-pipelines" href="#project-pipelines">Microsoft: Azure Pipelines</a></h2>
			<h3>Lead & Design Manager (2018 – 2020)</h3>
			<p>
				Leading a team of 5 designers through a major redesign of a 12 years old enterprise product.
				A new product vision in the CI/CD space for software developers based on a single pipeline experience using YAML.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-01.png " | relative_url }}" width="1200px" height="440px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-02.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-04.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-03.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
	</div>
</section>