<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl_portfolio }}">Portfolio</a>
          </li>
          <li><div class="vr" style="height: 20px;margin: 12px;"></div></li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl_bio }}">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl_news }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:{{ site.email }}"><i class="bi bi-envelope color-blue-tag"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>