<main class="px-3">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex align-items-center justify-content-center h-100">
      <img src="assets/images/jorge_serrano.png" width="200" height="200" />
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <h1 class="fw-light">Jorge Serrano</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <p class="lead text-muted">Music Composer</p>
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <span class="tag">New Age</span><span class="tag">Instrumental</span>
    </div>
  </div>
</main>