<main class="px-3">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="assets/images/Jorge_Serrano.png" width="200" height="200" />
        <h1 class="fw-light">Jorge Serrano</h1>
        <p class="lead text-muted">Music Composer</p>

      </div>
    </div>
  </section>

  <img src="assets/images/Jorge_Serrano.png" width="300" height="300" />
        <h1>Jorge Serrano</h1>
        <h2>Music Composer</h2>
        
        <p class="lead">
          <div class="home-intro-bio-tags">
            <span class="tag">New Age</span><span class="tag">Instrumental</span>
          </div>
        </p>
  
        <a target="_blank" href="https://open.spotify.com/artist/{{ site.spotify }}"><i class="fab fa-spotify"></i></a>
        <a target="_blank" href="https://youtube.com/@{{ site.youtube }}"><i class="fab fa-youtube"></i></a>
        <a target="_blank" href="https://music.apple.com/es/artist/{{ site.apple_music }}"><i class="fab fa-apple"></i></a>
        <a target="_blank" href="https://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>

        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Discography</a>
        </p>
  </main>