<main class="px-3">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex align-items-center justify-content-center h-100">
      <img src="assets/images/jorge_serrano.png" width="200" height="200" />
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <h1 class="fw-light">Jorge Serrano</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <p class="lead text-muted">Music Composer</p>
    </div>
    <div class="d-flex align-items-center justify-content-center h-100">
      <span class="tag">New Age</span><span class="tag">Instrumental</span>
    </div>

    <div class="d-flex align-items-center justify-content-center h-100">
      <a target="_blank" href="https://open.spotify.com/artist/{{ site.spotify }}"><i class="fab fa-spotify fa-2x"></i></a>
      <a target="_blank" href="https://youtube.com/@{{ site.youtube }}"><i class="fab fa-youtube fa-2x"></i></a>
      <a target="_blank" href="https://music.apple.com/es/artist/{{ site.apple_music }}"><i class="fab fa-apple fa-2x"></i></a>
      <a target="_blank" href="https://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
      <a target="_blank" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter fa-2x"></i></a>
    </div>

  </div>
</main>