<header class="mb-auto">
  <div>
    <!-- <h3 class="float-md-start mb-0">Cover</h3> -->
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link text-primary active" aria-current="page" href="#">Home</a>
      <a class="nav-link text-primary" href="{{ site.baseurl_bio }}">Bio</a>
      <a class="nav-link text-primary" href="{{ site.baseurl_motivations }}">Motivations</a>
      <div class="vr text-success" style="height: 20px;margin: 12px;"></div>
      <a class="nav-link text-primary" href="{{ site.baseurl_portfolio }}">Portfolio</a>
      <div class="vr text-success" style="height: 20px;margin: 12px;"></div>
      <a class="nav-link text-primary" href="{{ site.baseurl_news }}">News</a>
      <a class="nav-link text-primary" href="mailto:{{ site.email }}">Contact</a>
    </nav>
  </div>
</header>