<div class="row row-cols-1 row-cols-md-3 g-4 d-flex aligns-items-center text-center w-75 mx-auto">
    <!-- Hatching -->
    <div class="col">
      <div class="card">
        <img src="../assets/images/covers/Cover_Hatching.png" class="card-img-top" alt="Hatching">
        <div class="card-body">
          <h5 class="card-title"><small class="text-muted">September 12, 2022</small></h5>

          <div class="navbar navbar-dark bg-white">
            <div class="container">
                <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#hatchingDescription" aria-controls="hatchingDescription" aria-expanded="false" aria-label="Toggle navigation">Feelings...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
            </div>
    
            <div class="collapse bg-white" id="hatchingDescription">
                <div class="container">
                  <div class="row text-secondary">
                    <p class="card-text text-dark"><i>You are inside the egg. Light rays penetrate through the shell. Suddenly, nature pushes you to try to get out of it. You push with all your might. With a lot of effort, you break a piece of the shell. Exhausted, you rest and try again. You finally make it out, but you can barely move after all the effort.
                        After this, you decide to try to stand up and enjoy everything that surrounds it. You have a whole world ahead of you to discover</i></p>
                </div>
                </div>
              </div>
          </div>
    
          <hr class="text-dark">
    
          <div class="navbar navbar-dark bg-white">
            <div class="container">
                <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#hatchingAuthorNotes" aria-controls="hatchingAuthorNotes" aria-expanded="false" aria-label="Toggle navigation">What this song represents...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
            </div>
    
            <div class="collapse bg-white" id="hatchingAuthorNotes">
                <div class="container">
                  <div class="row text-secondary">
                    <p class="card-text text-secondary">Hatching is my first song, and it represents my first small step into a new, unknown world that I have always wanted to discover and experience, and share my feelings and my thoughts, through music</p>
                </div>
                </div>
              </div>
          </div>

      <p class="card-text"><small class="text-muted">Number of songs: 1</small></p>
      <a target="_blank" href="https://open.spotify.com/album/0BxseAGvfom2v36E4CPvbe?si=ljfedce8Rkahhti42vZGHg" class="btn btn-outline-success btn-light text-muted"><i class="bi bi-spotify text-success"></i>&nbsp;Spotify</a>
        </div>
      </div>
    </div>
    <!-- Fresh Air -->
    <div class="col">
      <div class="card">
        <img src="../assets/images/covers/Cover_Fresh_Air.png" class="card-img-top" alt="Fresh Air">
        <div class="card-body">
      <h5 class="card-title"><small class="text-muted">October 10, 2022</small></h5>

      <div class="navbar navbar-dark bg-white">
        <div class="container">
            <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#freshAirDescription" aria-controls="freshAirDescription" aria-expanded="false" aria-label="Toggle navigation">Feelings...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
        </div>

        <div class="collapse bg-white" id="freshAirDescription">
            <div class="container">
              <div class="row text-secondary">
                <p class="card-text text-dark"><i>Leave the noisy city, travel far, walk towards the mountain, close your eyes, be silent, listen to the sounds of nature, the birds, the river, the wind hitting the leafs of the trees,... try to hear each sound and concentrate in each one, take a deep breath, feel you free and alive</i></p>
            </div>
            </div>
          </div>
      </div>

      <hr class="text-dark">

      <div class="navbar navbar-dark bg-white">
        <div class="container">
            <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#freshAirAuthorNotes" aria-controls="freshAirAuthorNotes" aria-expanded="false" aria-label="Toggle navigation">What this song represents...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
        </div>

        <div class="collapse bg-white" id="freshAirAuthorNotes">
            <div class="container">
              <div class="row text-secondary">
                <p class="card-text text-secondary">Fresh Air is the representation about how I feel when I am in contact with the nature, in a lost and alone place, sitting and enjoying all around me</p>
            </div>
            </div>
          </div>
      </div>

      <p class="card-text"><small class="text-muted">Number of songs: 1</small></p>
      <a target="_blank" href="https://open.spotify.com/album/3zeFFxlz3s3jpbjAGNguz9?si=ulIlTvDBSfyX0-f19wmlIQ" class="btn btn-outline-success btn-light text-muted"><i class="bi bi-spotify text-success"></i>&nbsp;Spotify</a>
        </div>
      </div>
    </div>
    <!-- Heart Rate -->
    <div class="col">
      <div class="card">
        <img src="../assets/images/covers/Cover_Heart_Rate.png" class="card-img-top" alt="Heart Rate">
        <div class="card-body">
      <h5 class="card-title"><small class="text-muted">November 14, 2022</small></h5>

      <div class="navbar navbar-dark bg-white">
        <div class="container">
            <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#heartRateDescription" aria-controls="heartRateDescription" aria-expanded="false" aria-label="Toggle navigation">Feelings...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
        </div>

        <div class="collapse bg-white" id="heartRateDescription">
            <div class="container">
              <div class="row text-secondary">
                <p class="card-text text-dark">Energy is what moves the world. Even if life knocks you down with a painful and heavy blow, always be positive, don't stay on the ground, get up, move, make your heart excited again, make the energy cover your body and your mind, you can</p>
            </div>
            </div>
          </div>
      </div>

      <hr class="text-dark">

      <div class="navbar navbar-dark bg-white">
        <div class="container">
            <small class="text-primary" data-bs-toggle="collapse" data-bs-target="#heartRateAuthorNotes" aria-controls="heartRateAuthorNotes" aria-expanded="false" aria-label="Toggle navigation">What this song represents...&nbsp;<i class="bi bi-arrow-right-circle text-primary"></i></small>
        </div>

        <div class="collapse bg-white" id="heartRateAuthorNotes">
            <div class="container">
              <div class="row text-secondary">
                <p class="card-text text-secondary">Heart Beat is a song that I wrote for those people who are going through a bad time or have a hard time getting up, and need a song that pushes them and encourages them to stand up, fight and show the world everything they have inside</p>
            </div>
            </div>
          </div>
      </div>

      <p class="card-text"><small class="text-muted">Number of songs: 1</small></p>
      <a target="_blank" href="https://open.spotify.com/album/5NtOByJSDBtQxzdgObzx7t?si=jApPJg9sRruhzo90NOCTWg" class="btn btn-outline-success btn-light text-muted"><i class="bi bi-spotify text-success"></i>&nbsp;Spotify</a>
        </div>
      </div>
    </div>
  </div>