/* Rounded Borders */
.rounded-15 {
    border-radius: 15px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-30 {
    border-radius: 30px;
}

/* Padding */
.padding-1 {
    padding: 1px;
}

.padding-2 {
    padding: 2px;
}

.padding-5 {
    padding: 5px;
}

.padding-15 {
    padding: 15px;
}


/* Colors */
.c-bluegrey {
    color: var(--color-bluegrey);
}

.bg-bluegrey {
    background-color: var(--color-bluegrey);
}

.bg-bluedarkgrey {
    background-color: var(--color-darkgrey);
}

.c-cyan {
    color: var(--color-cyan);
}

/* Social Networks */
  .fa-apple {
    color: var(--color-basic);
  }

  .fa-apple:hover {
    color: var(--color-apple);
  }

  .fa-facebook {
    color: var(--color-basic);
  }
  
  .fa-facebook:hover {
    color: var(--color-facebook);
  }  
  
  .fa-instagram {
    color: var(--color-basic);
  }
  
  .fa-instagram:hover {
    color: var(--color-instagram);
  }
  
  .fa-spotify {
    color: var(--color-basic);
  }
  
  .fa-spotify:hover {
    color: var(--color-spotify);
  }
  
  .fa-twitter {
    color: var(--color-basic);
  }
  
  .fa-twitter:hover {
    color: var(--color-twitter);
  }
  
  .fa-youtube {
    color: var(--color-basic);
  }
  
  .fa-youtube:hover {
    color: var(--color-youtube);
  }
  
  
  
  /* Tags */
   span.tag{
    height:16px;
    line-height:16px;
    vertical-align:middle;
    text-align:center;
    font-size: 8pt;
    padding:0 6px;
    color: var(--span-tag-color);
    background-color: var(--span-tag-bg-color);
    position:relative;
    display:inline-block;
    margin-right: 12px;
  }
  
  span.tag:after{
    position:absolute;
    right:-20px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 14px 8px 6px;
    border-color: transparent transparent transparent var(--span-tag-bg-color);
  }
  
  