@charset "utf-8";

// Define defaults for each variable.
:root {
  --base-font-family:         -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --base-font-serif:          'EB Garamond', serif;
  --base-font-size:           2.3rem;
  --base-font-weight:         400;
  --small-font-size:          calc(var(--base-font-size) * 0.875);
  --base-line-height:         1;
  --base-trans:               .1s;
  --base-trans-mid:           .2s;
  --base-trans-slow:          .25s;

  --color-rgb-bluegrey:       158, 176, 199;
  --color-bluegrey:           var(--color-rgb-bluegrey);
  --color-dgb-darkgrey:       124, 142, 166;
  --color-darkgrey:           var(--color-rgb-darkgrey);
  --color-rgb-cyan:           100, 219, 243;
  --color-cyan:               var(--color-rgb-cyan);
  --color-rgb-basic:          228, 232, 232;
  --color-basic:              var(--color-rgb-basic);
  --color-rgb-instagram:      195, 42, 163;
  --color-instagram:          var(--color-rgb-instagram);

  --subtitle-color-rgb:       255, 214, 102;
  --text-color-rgb:           250, 250, 250;
  --brand-color-rgb:          145, 145, 161;
  --tag-color-rgb:            90, 100, 160;
  --type-color-rgb:           60, 60, 60;
  --subtitle-color:           rgb(var(--subtitle-color-rgb));
  --text-color:               rgb(var(--text-color-rgb));
  --brand-color:              rgb(var(--brand-color-rgb));
  --tag-color:                rgb(var(--tag-color-rgb));
  --type-color:               rgb(var(--type-color-rgb));
  --menu-background-color:  rgba(18, 18, 26, 0.15);
  --background-color:       rgb(18, 18, 26);
  --title-color:            rgb(242, 243, 251);
  --strong-color:           rgb(156, 164, 225);
  --link-color:             rgb(244, 221, 158);

  --base-padding:             3.4em;
  --base-max-width:           120.0rem;

  --font-size-m:              1.4rem;
}

// Import partials
@import
  "base",
  "layout"
;